menu "ESP Mesh Lite Configuration"

    config MESH_ROOT
        select JOIN_MESH_IGNORE_ROUTER_STATUS
        bool "Root device"
        default n
        help
            Configure the root device type.

    config MESH_ID
        int "Mesh ID"
        range 1 99
        default 77
        help
            Mesh network ID.

    config MESH_CHANNEL
        int "Mesh network channel"
        range 1 14
        default 11
        help
            Mesh network channel.

    config EXAMPLE_MAX_ASYNC_REQUESTS
        int "Max Simultaneous Requests"
        default 2
        help
            The maximum number of simultaneous async requests that the
            web server can handle.

    config EXAMPLE_ASYNC_WORKER_TASK_STACK_SIZE
        int "Async Worker Task Stack Size"
        default 2560
        help
            The stack size allocated for each async worker task.

    menu "Scan AP Configuration"

        config EXAMPLE_SCAN_LIST_SIZE
            int "Max size of scan list"
            range 0 20
            default 10
            help
                The size of array that will be used to retrieve the list of access points.

        config EXAMPLE_USE_SCAN_CHANNEL_BITMAP
            bool "Scan only non overlapping channels using Channel bitmap"
            default 0
            help
                Enable this to scan only the non overlapping channels i.e 1,6,11 by mentioning a channel bitmap
                in scan config. If you wish to scan a different set of specific channels, please edit the channel_list
                array in scan.c. Channels for a 2.4 ghz network range should range from 1-14.
    endmenu
    
    menu "ESPNOW Configuration"

        config ESPNOW_PMK
            string "ESPNOW primary master key"
            default "pmk1234567890123"
            help
                ESPNOW primary master for the example to use. The length of ESPNOW primary master must be 16 bytes.

        config ESPNOW_CHANNEL
            int "Channel"
            default 1
            range 0 14
            help
                The channel on which sending and receiving ESPNOW data.

    endmenu

    menu "BLE Configuration"

        config EXAMPLE_PEER_ADDR
            string "Peer Address"
            default "ADDR_ANY"
            help
                Enter the peer address in aa:bb:cc:dd:ee:ff form to connect to a specific peripheral

        config EXAMPLE_EXTENDED_ADV
            bool
            depends on SOC_BLE_50_SUPPORTED && BT_NIMBLE_50_FEATURE_SUPPORT
            default y if SOC_ESP_NIMBLE_CONTROLLER
            select BT_NIMBLE_EXT_ADV
            prompt "Enable Extended Adv"
            help
                Use this option to enable extended advertising in the example.
                If this option is disabled, ensure config BT_NIMBLE_EXT_ADV is
                also disabled from Nimble stack menuconfig

        config EXAMPLE_INIT_DEINIT_LOOP
            bool
            prompt "Perform init deinit of nimble stack in a loop"
            help
                Enable this flag, to perform only stack Init and Deinit in a loop.

        config EXAMPLE_ENCRYPTION
            bool
            prompt "Enable Link Encryption"
            help
                This enables bonding and encryption after connection has been established.

        config EXAMPLE_USE_CI_ADDRESS
            bool
            default n
            prompt "Advertise using Test address(Internal Test ONLY)"
            help
                Used for internal test ONLY.
                Use this option to advertise in a specific random address.
    endmenu
endmenu
